{
  "presets": [
    ["env", {
    "useBuiltins": true,
    "modules": "commonjs",
    "targets": {
      "node": 8
    },
    "exclude":["transform-regenerator", "transform-async-to-generator"]
    }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    ["fast-async", {
      "spec": true
      }]
  ]
}
